<div class="container">
   <div id="main-back" style="justify-content:center;align-items:center;margin-top: 60px;">
      <div class="post-wrapper">
         <div id="content">
         	<p>ERROR 404 NOT FOUND</p> <!-- 404 view indicator !-->
         </div>
      </div>
   </div>
</div>